# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Ignore generated outputs except trained model
outputs/*
!outputs/models/
!outputs/models/best_model.pkl

# Streamlit
.streamlit/